<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Teacher</title>
</head>
<body>
    <button onclick="location.href='{% url 'administrator:survey' %}'">Create survey</button>
    <form method="post" action="{% url 'administrator:add_teacher' %}">
        {% csrf_token %}
        Username <input type="text" name="username"><br/>
        Semester
        <select name="semester">
            {% for semester in semesters %}
                <option value="{{ semester.id }}">{{ semester.semesterName }}</option>
            {% endfor %}
        </select>
        Subject
        <select name="subject">
        {% for subject in subjectName %}
            <option value="{{ subject.id }}">{{ subject.subjectName }}</option>
        {% endfor %}
        </select>
        <input type="submit"><br/>
        {% for teacher in teachers %}
            {{ teacher.teacherName }}   {{ teacher.Semester.semesterName }}   {{ teacher.subject.subjectName }}<br/>
        {% endfor %}
    </form>
</body>
</html>