<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Subject</title>
</head>
<body>
    <button onclick="location.href='{% url 'administrator:add_teacher' %}'">Add Teacher</button>
    <form method="post" action="{% url 'administrator:add_subject' %}">
        {% csrf_token %}
        Subject Name <input type="text" name="subject" required><br/>
        {% for subject in subjects %}
            {{ subject.subjectName }}<br/>
        {% endfor %}
        <input type="submit">
    </form>
</body>
</html>