<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
</head>
<body>
    <button onclick="location.href='{% url 'administrator:survey' %}'">Create survey</button>
    <form method="post" action="{% url 'administrator:add_student' %}">
        {% csrf_token %}
        Username <input type="text" name="username"><br/>
        StudentName <input type="text" name="studentname"><br/>
        RollNo <input type="integer" name="rollNo"><br/>
        userGroup
        <select name="UserGroup">
        {% for usergroup in UserGroup %}
            <option value="{{ userGroup.id }}">{{ userGroup.userGroupName }}</option>
        {% endfor %}
        </select>
        <input type="submit"><br/>
        {% for student in students %}
            {{ student.studentName }}<br/>,{{student.rollNo}}<br/>
        {% endfor %}
    </form>
</body>
</html>