<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Survey</title>
</head>
<body>
<button onclick="location.href='{% url 'administrator:add_question' %}'">Add Question</button>
<form method="post" action="{% url 'administrator:survey' %}">
        {% csrf_token %}
        Survey  Name <input type="text" name="surveyName"><br/>
        Select survey
        <select name="semester">
            {% for semester in semesters %}
                <option value="{{ semester.pk }}">{{ semester.semesterName }}</option>
            {% endfor %}
        </select>
        <input type="submit">
    </form>
</body>
</html>